@media(max-width:700px){
  .navbar-toggler{
    margin-right: 10px;
  }
    .unisex-section{
      flex-direction: column;
    }
    .info-section{
      flex-direction: column;
      margin-top: 0px;
    }
    .info-section .vision{
      padding: 0px 0px 0px 40px;  
    
    }
    .top-left h1{
        font-size: 30px;
    }
    .discover h1{
        font-size: 30px;
    }
    .vision h2{
        font-size: 25px;
    }
    .vision p{
        font-size: 15px;
    }
    .main-service{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 
      "col1"
      "col2";
      padding-bottom: 20px;
    }
    .col1{
      order:1;
    }
    .service-title h1{
      font-size: 30px;
      font-weight: bold;
    }
    .service-title p{
      font-size: 20px;
    }
    .discover1 h1{
      font-size: 60px;
    }
    .seemore{
      font-size: 15px;
    }
    .btn{
      font-size: 10px;
    }
    .title{
      padding-bottom: 10px;
    }
  }




  @media(max-width:1348px){
    .service-title h1{
      font-size: 70px;
    }
    .discover h1{
      margin:20px;
    }

  }

  @media(max-width:986px){
    .service-title h1{
      font-size: 40px;
    }
    .service-title p{
      font-size: 20px;
    }
    .discover h1{
      margin:20px;
    }

  }
  @media(max-width:1500px){
    .picture{
      padding-top: 70px;
    }
  }
  @media(max-width:591px){
    .top-left h1{
        font-size: 25px;
    }  
    .top-left p{
        font-size: 15px;
        padding-left: 20px;
    }
    .discover h1{
      margin:20px;
    }

    .discover p{
      font-size: 10px;
    }
  }

  @media(max-width:504px){
    .top-left h1{
      font-size: 25px;
    }

    .seemore{
      font-size: 10px;
    }
    .discover h1{
      margin:20px;
    }
    .children{
      padding-top: 0px;
    }
    .male{
      padding-bottom: 10px;
    }
    
  }


  @media(max-width:498px){
    .top-left h1{
      font-size: 16px;
    }

    .top-left p{
      font-size: 10px;
    }
    .discover {
      margin:30px;
    }
    .service-title{
      padding-left: 15px;
    }
    .service-title h1{
      font-size: 30px;
    }
    .service-title p{
      font-size: 15px;
    }
    .children{
      padding-top: 0px;
    }
    .male{
      padding-bottom: 10px;
    }
    .title{
      padding-bottom: 10px;
    }
  }
  
  @media(max-width:700px){
    .aboutus{
      padding-left: 40px;
    }
    .info .portfolio-b h3{
      font-size:20px;
      font-weight:bold;
   
    }
   }

   @media(max-width: 700px){
    .testimony{
      flex-direction:column;
    }
   }


   @media(max-width:334px){
    .top-left h1{
      font-size: 12px;
    }
    .btn{
      font-size: 6px;
    }
   
   }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
